@import "../assets/scss/variables";

.main-layout {
  .navbar-brand {
    img {
      height: 32px;
    }
  }
  .navbar-dark {
    .dropdown-profile {
      .dropdown-toggle {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        color: $white;
      }
      .profile-username {
        padding: $spacer/4 $spacer/2;
        font-size: $font-size-base * 1.5;
      }
      .profile-user-role {
        padding: $spacer/4 $spacer/2;
        font-size: $font-size-base * 0.9;
      }
    }
  }
}
